body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #222;
    color: #fff;
}

header a {
    color:  #d4d4d4;
    text-decoration: none;
}

h1 {
    font-size: 45px;
}

.container {
    width: 1040px;
    margin: 0 auto;
    padding: 0;
}

.about-us .left-column {
    width: 250px;
}

nav,
.main-menu,
.menu-contacts {
    display: flex;
}

nav {
    align-items: center;
}

.main-menu li {
    margin-right: 35px;
}

.menu-contacts li {
    margin-left: 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    margin-right: 65px;
}

.menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-us {
    padding-top: 100px;
    padding-bottom: 180px;
}

.about-us {
    background-image: url('../img/moon_rocket.png_610%20(11).png');
    background-repeat: no-repeat;
    background-position: 840px 68px;
    
}

.about-us .left-column {
    margin-left: 120px;
}

.features {
    padding-top: 90px;
    padding-bottom: 80px;
    background-color: #131313;
    color: #d4d4d4;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-list li {
    width: 180px;

}

.sentence {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #222222;
}

.sentence .container {
    display: flex;
    justify-content: space-between;
}

.sentence .left-column,
.sentence .right-column {
    width: 440px;
}

.guide {
    padding-bottom: 80px;
}

.guide .container {
    display: flex;
    justify-content: space-between;
}

.guide .left-column,
.guide .right-column {
    width: 400px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .left-column {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
}

.footer-menu > li {
    width: 180px;
    margin-left: 75px;
}

.footer-menu > li > a {
    padding-bottom: 20px;
    display: inline-block;
    margin-bottom: 40px;
    color: white ;
    border-bottom: 1px solid;
    display: block;
}

.footer-submenu > li > a {
    color: #888;
    text-decoration: none;
}

.footer-submenu > li > a:hover{
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    color: white;
}

.logo-container img {
    margin-right: 25px;
}

footer {
    padding-top: 65px;
    padding-bottom: 85px;
    background-color: #131313;
}

.footer-submenu li {
    margin-bottom: 20px;
}

.copyright {
    margin-bottom: 20px;
    color: #555;
}

.btn {
    background-color: #feca30;
    width:  240px;
    height: 50px;
    display: flex ;
    align-items: center;
    border-radius: 25px;
    padding: 0 25px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700px;
    color: #222222;
    margin-top: 60px;
}

.btn:hover {
    background-color: white;
}

.about-text {
    margin-bottom: 50px;
    color: #d4d4d4;
    font-weight: 400;
}

sentense {
    margin-bottom: 55px;
    margin-top: 0px;    
}

guide h2 {
    margin-bottom: 40px;
}

.recommendatons-list li {
    margin-bottom: 20px;
}

h1 , h2 {
    font-family: 'Anonymous Pro', monospace;
}

nav a:hover {
    color: white ;
}